@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0, 0, 0, 0.8) 100%),url("images/1.jpg");
    height: 150vh;
    background-size: cover;
    background-position:100% 20%; 
}
 .sec_1{
  margin-top:-5rem;
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0, 0, 0, 0.8) 100%),url("images/1.jpg");
        height: 200vh;
        background-size: cover;
        background-position:100% 20%;
      


 }

    section .sec_1 .container h1{
        color:whitesmoke;
        font-weight:bold;
        font-size: 25px;
        font-family: 'Baloo Tammudu 2', cursive;
        margin-top: -25rem;
        text-align: start;
    }
    section .sec_1 .container h1 span{
        font-family: 'Holtwood One SC', serif;
    }
   section  .sec_1 .container h1::first-letter{
        color: #5bc0de;
        font-size: 35px;
        font-weight: bolder;
    }
  section  .sec_1  .container #span_2{
        color: #5bc0de;
    }
   section  .sec_1 .container span{
        font-size: 35px; 
    }

.main{
   position: relative;
    top: 22rem;
    background: #5bc0de;
    border-radius: 30px;
    width: 90%;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(130, 212, 233, 0.808), rgba(143, 211, 244, 0.7));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(151, 181, 190, 0.7), rgba(143, 211, 244, 0.7))


   

  
}

.navbar .navbar-brand{
    font-family: 'Holtwood One SC', serif;
   
    font-weight: 900;

}

.writedown{
    position: relative;
    margin-top: 25rem;
    display: flex;
    flex-wrap: wrap;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(88, 88, 88, 0.7) 100%),url("images/write.jpg");
    background-repeat: no-repeat;height:100%;
    background-size: cover;
    background-position:20% 100%;
}

.writedown form label{
     font-family: 'Baloo Tammudu 2', cursive;
}

.wrtext{
    padding-top: 6rem;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 26px;
   
}
.upcoming{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 30px;  
}

ul{
	list-style:none;
}
.post_form{
    margin-bottom: 8rem;
}

#read_more{
    display: none;
}
.card:hover #read_more{
    
display: block;

text-decoration: none;
}

.error{
    color: rgb(252, 79, 79);
}
.welcome_1{
    font-size: 20px;
}


.w{
    font-size: 35px;
}
.navbar .navbar-nav .nav-link {
  
    color: #5bc0de;
    font-weight: bold;
    font-size: 18px;
}
.navbar .navbar-nav .nav-link:hover{
    
    color: #fff;
    
   
    /* border-radius: 8px; */
}
.dropdown-item:hover{
    color: #5bc0de;
   
}
.dropdown-item{
    font-weight: bold;
    font-size: large;
   
}
.footer a i{
    color: #5bc0de;
  /* background-color: blue; */
}
.footer a i:hover{
    color: #24809c;
  /* background-color: blue; */
}
.footer_section{
    position: relative;
    top: 4rem;
}
.account_sec{
    margin-top: 12rem;
}
footer{
    overflow-x: hidden;
}
@media (max-width: 575.98px) { 
    
          
    .container h1{
        position: relative;
        top: 20rem;
        color:whitesmoke;
        font-weight:bold;
        font-size: 25px;
        font-family: 'Baloo Tammudu 2', cursive;
       
        text-align: start;
    }
    .container h1 span{
        font-family: 'Holtwood One SC', serif;
    }
    .container h1::first-letter{
        color: #5bc0de;
        font-size: 35px;
        font-weight: bolder;
    }
    .container #span_2{
        color: #5bc0de;
    }
    .container span{
        font-size: 35px; 
    }     
   
    
    .img_slide{
        width: 200px;
        height: 250px;
    }
    .welcome{
        justify-content: center;
        align-items: center;
       padding-left: 4rem;

    }
    .wrtext{
        text-align: center;
        font-size: 20px;
    }

    .text_align{
        text-align: center;
     
    }
    .welcome_1{
        font-size: smaller;
    }
    .welcome h3 .h2{
        font-family: 'Holtwood One SC', serif;
        font-size: 18px;
        text-align: center;
        margin-right: 2rem;
    }
    .welcome h3{
        margin-top: -6rem;
        overflow-y: hidden;
    }

    footer{
        overflow-x: hidden;
    }
   .container{
       overflow-x: hidden;
   }
} 
/* large_device */

 @media (min-width: 1200px) { 
    .img_slide{
        width: 320px;
        height: 400px;
    }
    .wrtext{
      
        padding-top: 18rem;
    }
    .h6{
        font-size: 20px;
    }
   .footer_section_account{
       margin-top: 28rem;
   }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .img_slide{
        width: 250px;
        height: 350px;
    }
    .footer_section_account{
        margin-top: 28rem;
    }
  
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    .img_slide{
        width: 250px;
        height: 350px;
    }
 
    
  } 

 @media (min-width: 576px) and (max-width: 767.98px) {
    .img_slide{
        width: 200px;
        height: 250px;
    }
    .wrtext{
        text-align: center;
        font-size: 20px;
    }
   
   } 
  